.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(188,152,126);
  color: #fff;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .searchForm {
    display: flex;
    .searchInput {
      padding: 0.5rem;
      border-radius: 10px 0 0 4px;
      border: none;
      outline: none;
      width: 35vw;
    }

    .searchButton {
      -webkit-box-shadow: -4px 0px 24px -17px rgba(34, 60, 80, 1) inset;
      -moz-box-shadow: -4px 0px 24px -17px rgba(34, 60, 80, 1) inset;
      box-shadow: -4px 0px 24px -17px rgba(34, 60, 80, 1) inset;
      padding: 0.5rem;
      background-color: #ffffff;
      color: white;
      border: none;
      border-radius: 0 10px 4px 0;
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      &:hover {
        background-color: rgb(184, 153, 131);
      }
    }
  }

  .nav ul {
    list-style: none;
    display: flex;

    li {
      margin-left: 1rem;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
